@import './hide-extra-controls';

//$body-color: slateblue;
//
//body {
//  color: $body-color;
//  font-family: sans-serif;
//}

#viewerContext {
  min-height: 400px;
  .viewer {
    border: none;
  }
}

.app-container {
  .drawing {
    display: flex;
    flex-basis: 100%;
    flex-shrink: 1;
    flex-grow: 1;

    #viewerContext {
      /*
      display: flex;
      flex-basis: 100%;
      flex-shrink: 1;
      flex-grow: 1;
      */
      height: 600px;
      width: 600px;
      .viewer {
        background: #949398;
        //flex-basis: 100%;
        //flex-grow: 1;
        //flex-shrink: 1;
        //border: solid 1px red;
      }
    }

    div {
      padding: 0;
    }
  }

  div.dataInput {
    padding: 8px;
    overflow: auto;
  }
  #dataInput {
    padding-top: 8px;
    padding-left: 50px;

    button {
      margin-top: 16px;
      margin-right: 80px;
    }
  }

  ul.rightList {
    margin: 8px;

    li {
      display: block;
      padding-bottom: 2px;
      padding-left: 4px;
      border-bottom: solid 1px silver;

      //&:last-child {
      //  border-bottom: none;
      //}
    }
  }

  ul.leftList {
    margin: 8px;

    li {
      display: block;
      border-bottom: solid 1px silver;

      //&:last-child {
      //  border-bottom: none;
      //}
    }
  }

}

#console-log {
  padding-top: 16px;

  .message {
    font-family: monospace;
    font-weight: normal;
    font-size: 12px;
    color: #333333;

    .date-label {
      color: gray;
    }
  }
}

body {
  margin: 0;
}

.app-container {
  width: 1280px;
  height: 800px;

  //font-family: "Quicksand", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 16px;

  display: grid;
  grid-template: 1fr 301px 301px 50px / 280px 604px 1fr;
  padding: 2px;
  box-sizing: border-box;

  gap: 2px;

  div.bordered {
    border: 2px solid #000000;
  }
}

/*
.active {
    background-color: #ffc760;
}
*/
/* Individual divs: */
.header {
  padding-top: 20px;
  padding-left: 2px;
  padding-right: 2px;
  position: relative;
  grid-column: 1 / 4;
}
.header .header-1 {
  margin-top: 25px;
}

.leftList {
  position: relative;
  grid-row: 2 / 4;
  list-style-type: none;
  overflow: auto;
}

.drawing {
  position: relative;
  grid-row: 2 / 4;
}

#opensjcad {
  background-color: #f70000;
}

.rightList {
  padding: 2px;
  position: relative;
  list-style-type: none;
  grid-row: 2 / 3;
  overflow: auto;
}

.dataInput {
  position: relative;
  list-style-type: none;
  grid-row: 3 / 4;
}

.footer {
  position: relative;
  grid-column: 1 / 3;
}
.helper {
  position: relative;
  grid-column: 3 / 4;
}

.opis-1 {
  font-weight: normal;
}
