body {
  margin: 0;
}

.app-container {
  width: 1280px;
  height: 800px;

  //font-family: "Quicksand", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 16px;

  display: grid;
  grid-template: 1fr 301px 301px 50px / 280px 602px 1fr;
  padding: 2px;
  box-sizing: border-box;

  gap: 2px;

  div.bordered {
    border: 2px solid #000000;
  }
}

/*
.active {
    background-color: #ffc760;
}
*/
/* Individual divs: */
.header {
  padding-top: 20px;
  padding-left: 2px;
  padding-right: 2px;
  position: relative;
  grid-column: 1 / 4;
}
.header .header-1 {
  margin-top: 25px;
}

.leftList {
  position: relative;
  grid-row: 2 / 4;
  list-style-type: none;
  overflow: auto;
}

.drawing {
  position: relative;
  grid-row: 2 / 4;
}

#opensjcad {
  background-color: #f70000;
}

.rightList {
  padding: 2px;
  position: relative;
  list-style-type: none;
  grid-row: 2 / 3;
  overflow: auto;
}

.dataInput {
  position: relative;
  list-style-type: none;
  grid-row: 3 / 4;
}

.footer {
  position: relative;
  grid-column: 1 / 4;
}
